  <div class="field">
    <%= f.label :paymentoption %>
    <%= f.text_field :paymentoption %>
  </div>

  <div class="field">
    <%= f.label :transactionid %>
    <%= f.text_field :transactionid %>
  </div>

  <div class="field">
    <%= f.label :datetransact %>
    <%= f.text_field :datetransact %>
  </div>

  <div class="field">
    <%= f.label :timetransact %>
    <%= f.text_field :timetransact %>
  </div>

  <div class="field">
    <%= f.label :btcaddress %>
    <%= f.text_field :btcaddress %>
  </div>

  <div class="field">
    <%= f.label :ordernumber %>
    <%= f.text_field :ordernumber %>
  </div>
