<%= form_for @buybitcoin , :html => {:oninput => "x.value=parseInt(buybitcoin_amount.value)*parseInt(4.2)"} do |f| %>
  <% if @buybitcoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buybitcoin.errors.count, "error") %> prohibited this buybitcoin from being saved:</h2>

      <ul>
      <% @buybitcoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
   <%= render "#{@buybitcoin.current_step}_step", :f => f %>
  
<div class="container">
  <div class="row" style="margin-top: 10px;">    
    <div class="col-lg-12">
<p><%= f.submit "Continue", :class => "btn btn-primary" %>
  <%= f.submit "Back", :class => "btn btn-light", :name => "back_button" unless @buybitcoin.first_step? %></p>

 
</div>
</div>
</div>

 
<% end %>
