<div class="field">
    <%= f.label :paymentoption %>
    <%= f.text_field :paymentoption %>
  </div>

  <div class="field">
    <%= f.label :ordernumber %>
    <%= f.text_field :ordernumber %>
  </div>

  <div class="field">
    <%= f.label :mobilemoneyname %>
    <%= f.text_field :mobilemoneyname %>
  </div>

  <div class="field">
    <%= f.label :mobilemoneynumber %>
    <%= f.text_field :mobilemoneynumber %>
  </div>

 