<br><br><br><br>

<%= form_for @sellbitcoin , :html => {:name => "theform"} do |f| %>
  <% if @sellbitcoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sellbitcoin.errors.count, "error") %> prohibited this sellbitcoin from being saved:</h2>

      <ul>
      <% @sellbitcoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "#{@sellbitcoin.current_step}_step", :f => f %>
  
<div class="container">
  <div class="row" style="margin-top: 10px;">    
    <div class="col-lg-12">
<p><%= f.submit "Continue", :class => "btn btn-primary" %>
  <%= f.submit "Back", :class => "btn btn-light", :name => "back_button" unless @sellbitcoin.first_step? %></p>

 
</div>
</div>
</div>


  <% end %>