<p id="notice"><%= notice %></p>

<h1>Crytosubscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crytosubscriptions.each do |crytosubscription| %>
      <tr>
        <td><%= crytosubscription.email %></td>
        <td><%= crytosubscription.phone %></td>
        <td><%= crytosubscription.name %></td>
        <td><%= link_to 'Show', crytosubscription %></td>
        <td><%= link_to 'Edit', edit_crytosubscription_path(crytosubscription) %></td>
        <td><%= link_to 'Destroy', crytosubscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crytosubscription', new_crytosubscription_path %>
